.container {
    margin-top: 80px;
    display: flex;
    flex: 3;
    justify-content: center;
}

.card {
    width: auto; /* Adjust the width as needed */
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #B19470 !important;
}

.card .card-body {
    padding: 10px;
}


.card h2.card-title {
    margin: 0;
    font-size: 24px;
}

.card p.card-title {
    margin: 0;
    font-size: 18px;
}

.card p.card-text {
    margin-top: 5px;
    font-size: 18px;
}
.card:hover {
    border-color: #775539;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.navbar-bottom-button .btn-primary {
    background-color: #B19470;
    border-color: #B19470;
    color: rgb(29, 29, 29);
    font-weight: 500;
}

.navbar-bottom-button .btn-primary:active {
    background-color: #775539; /* Lighter blue */
    border-color: #add8e6; /* Matching border color for consistency */
}


.navbar-bottom-button .btn-primary:hover {
    background-color: #775539;
    border-color: #775539;
    color: rgb(29, 29, 29);
}

/* Apply for Adoption Button Styles */
.adoption-apply-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #775539; /* Primary button color */
    color: white; /* Text color */
    text-align: center;
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.2s, transform 0.2s; /* Smooth transition for background color and transform */
    border: none; /* No border */
    cursor: pointer; /* Cursor changes to pointer to indicate clickable */
}

.adoption-apply-button:active {
    background-color: #775539 !important; /* Light blue when pressed */
}


.adoption-apply-button:hover,
.adoption-apply-button:focus {
    background-color: #775539; /* Darker shade on hover/focus */
    color: black; /* text color when hovering */
    transform: translateY(-2px); /* Slight lift effect */
    text-decoration: none; /* Ensure underline does not reappear */
}




