body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #B19470 !important;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}

h3 {
    margin-top: 20px;
    text-align: center; /* Center aligns the text */
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button[type="submit"] {
    background-color: #a08a6e !important;
    color: rgb(0, 0, 0) !important;
    border-color: #654321 !important;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Ensures the button takes up the full width */
    margin: 10 auto; /* Centers the button horizontally */
}

button[type="submit"]:hover {
    background-color: #775539 !important;
    border-color: #775539 !important;
    color: rgb(247, 243, 243) !important;
    transition: background-color 0.3s ease;
}
