.container {
    margin-top: 80px;
    display: flex;
    flex: 3;
    justify-content: center;
}

/* Try */
.card {
    width: auto; /* Adjust the width as needed */
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #B19470 !important;
    transition: transform 0.3s ease-in-out;

    height: 650px; /* Adjust the height as per your requirement */

}

.card:hover {
    transform: translateY(-5px);
}

.card .card-body {
    padding: 10px;
}


.card h2.card-title {
    margin: 0;
    font-size: 24px;
}

.card p.card-title {
    margin: 0;
    font-size: 18px;
}

.card p.card-text {
    margin-top: 5px;
    font-size: 18px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.btn-primary {
    background-color: #DED0B6 !important;
    color: rgb(0, 0, 0) !important;
    border-color: #DED0B6 !important;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #775539 !important;
    border-color: #775539 !important;
    color: rgb(247, 243, 243) !important;
    transition: background-color 0.3s ease;
}
.card:hover {
    border-color: #775539;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}


.btn-primary {
    background-color: #B19470 !important;
}

.btn-primary:hover {
    color: black !important;
}


.btn-primary-adopt {
    background-color: #DED0B6 !important;
}

.btn-primary-adopt:hover {
    background-color: #775539 !important;
}

.adoption-apply-button:active {
    background-color: #775539 !important;
}


.adoption-apply-button:hover,
.adoption-apply-button:focus {
    background-color: #775539;
    color: black;
    transform: translateY(-2px);
    text-decoration: none;
}




