body {
    padding-top: 70px;
    /* Adjust body padding to accommodate fixed navbar */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/img/sheshable bg.jpg');
    background-size: cover;

    /* Button styling */
    .container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    /* Button styling */
    .button {
        position: relative;
        cursor: pointer;
        border: none;
        background: none;
        padding: 0;
        margin: 10px;
        /* Adjust margin as needed */

        img {
            width: 250px !important;
            /* Adjust the width as needed */
            height: auto;
            border-radius: 5px;
        }
    }

    /* Dropdown styling */
    .dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #775539;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
        z-index: 1;
    }

    /* Show dropdown when button is clicked */
    .button:hover .dropdown {
        display: block;
    }

}
