body {
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/img/sheshable bg.jpg');
    background-size: cover;
}

.image-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin-top: 10px;
    margin-left: 10%;
    border-radius: 10px;
    margin-right: 6%;
    padding: 25px;
    background-color: #775539;
    transition: opacity 1s ease-in;
    transition: opacity 1s ease-out;
    max-width: 800px;

    p {
        align-items: right;
        text-align: left;
        margin-top: 10px;
        color: white;
        margin-left: 7%;
        margin-right: 5%;
        font-family: 'Times New Roman', Times, serif;
        padding: 20px;
    }
    h1{
        color: white;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }
}

.changing-image {
    max-width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.changing-image.loaded {
    opacity: 1;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-left: 8%;
    padding: 20px;

    a {
        padding: 10px;
        text-align: center;
    }

    img {
        width: 100px !important;
    }
}
