.transparent-navbar {
    background-color: rgba(255, 255, 255, 0); /* Adjust the alpha value for transparency */
}

/* Add background image to the body */
body {
    background-image: url('/img/dog1.jpg'); /* Replace 'your-background-image.jpg' with your image file */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #ffffff; /* Adjust text color for better contrast on the background image */
}

/* Navigation Bar */
nav.navbar.transparent-navbar a.navbar-brand {
    color: #ffffff;
    font-weight: bold;
    padding-left: 30px;
}
nav.navbar.transparent-navbar .navbar-nav .nav-link {
    color: #ffffff; /* Change to your desired color */
    font-weight: bold;
    padding-right: 30px;
}

/* Button */
.bottom-button {
    position: absolute;
    bottom: 30px; /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
}
