body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background-color: #B19470; /* Adjust the color to match the image */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.logo-container img {
    height: 110px;
    width: auto;
}

.logo-container {
    text-align: center;
}

.login-container h2 {
    text-align: center;
}

.login-container p {
    text-align: center;
}

.input-group {
    margin-bottom: 15px;

}

.input-group label {
    display: block;
    font-size: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #775539; /* Adjust the color to match the image */
    border-radius: 5px;
    background-color: #B19470 !important;   
}

.input-group input:focus {
    outline: none;
    border-color: #775539; /* Adjust to use your primary color or another color that indicates focus */
    background-color: #B19470 !important;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #775539; /* Adjust the color to match the image */
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.login-footer {
    text-align: center;
    margin-top: 20px;
}

.login-footer a {
    color: #272727; /* Adjust the color to match the image */
    text-decoration: none;
    font-weight: bold;
}

.login-footer a:hover {
    text-decoration: underline;
    color: #775539;
}
