body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.az-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 110px;
}

.az-signin-wrapper {
    background-color: #B19470; /* Adjust the color to match the image */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.az-card-signin {
    height: 560px;
    width: 500px;
    padding: 20px;
    display: flex;
    border-radius: 10px; /* Add border radius */
    flex-direction: column;
    background-color: #B19470;
}


.az-signin-header h2 {
    font-weight: 500;
    text-align: center;
}

.az-signin-header p {
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.az-signin-header .form-control {
    color: #000000;
    font-weight: 500;
    border-width: 2px;
    border-radius: 5px;
    border-color: #775539;
    background-color: #B19470 !important;
}

.az-signin-header .form-control:focus {
    border-color: #775539;
    color: #000000;
    background-color: #B19470 !important;
}

.az-signin-header .form-control::placeholder {
    font-weight: 400;
    color: #000000;
}

.az-signin-header .btn {
    margin-top: 25px;
    background-color: #DED0B6; /* Set default button background color */
    color: #000000; /* Set default button text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

.az-signin-header .btn:hover {
    background-color: #775539; /* Change background color on hover */
}

.az-signin-footer p {
    color: #292929;
    text-align: center;
}

.az-signin-footer p:first-child {
    margin-bottom: 5px;
}

.az-signin-footer p:last-child {
    margin-bottom: 0;
}

.az-signin-footer a {
    color: #000000;
    font-weight: 700;
}

.az-signin-footer a:hover,
.az-signin-footer a:focus {
    color: #775539;
    text-decoration: none;
}
